$title-font: 7vh;

.content__pagetwo {
  padding-right: 15vw;
  padding-left: 15vw;
  flex-wrap: wrap;
  margin-top: 1vh;
  background-color: lightblue;
  display: flex;
  color: white;
  height: 100%;
  max-height: 1300px;
  padding-bottom: 50px;
  overflow: hidden;

  .content__text--second {
    width: 100%;
    font-size: $title-font;
  }

  .content__layoutCard--1 {
    width: 400px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border-radius: 10px;
    filter: contrast(80%);
    box-shadow: 6px 10px 30px -9px rgba(120, 116, 120, 1);

    // padding-top: 10vh;
    background-color: lightblue;
    .content__layoutCard--img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }
}
